/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* 2. Remove default margin */
* {
  margin: 0;
}
body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}
/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}
/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}
/*
  9. Create a root stacking context (Only needed with React, etc.
*/
#root,
#__next {
  isolation: isolate;
}

/* ACTUAL CSS */

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  background: #1b1530;
  color: rgb(212, 212, 212);
  height: 100vh;
  padding: 20px 40px;
}
header,
footer {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 10%;
  max-height: 40px;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;

  margin-top: 40px;
}

form {
  text-align: center;
  height: 75%;
  width: 100%;
}

.location-label {
  display: block;
}

.input-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 20px;

  width: 100%;
  max-width: 400px;
  vertical-align: bottom;
}

.searchbar-container {
  display: flex;
  align-items: flex-end;
  flex-wrap: nowrap;
}

.location-input {
  flex: 3;
  background: rgba(212, 212, 212, 0.1);
  color: inherit;
  height: 2rem;
  padding: 5px 10px;
  margin-top: 20px;
  border: 1px solid rgb(212, 212, 212);
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  box-shadow: inset 2px 1px 5px black;
}

.location-input::placeholder {
  color: rgb(212, 212, 212);
}

button {
  height: 2rem;
  border: 1px solid rgb(212, 212, 212);
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  padding-right: 10px;
  cursor: pointer;
}

.switch-container {
  flex: 1;
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.unit-switch {
  position: relative;
  font-size: inherit;
  color: inherit;
  background: transparent;
  width: 4em;
  height: 2em;
  box-sizing: content-box;
  border: 1px solid;
  border-radius: 1em;
  vertical-align: bottom;
  margin: auto;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
}

.unit-switch::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;

  background: currentColor;
  width: 1.7em;
  height: 1.7em;
  margin: 0 0.15em;
  border: 1px solid;
  border-radius: 50%;
  box-sizing: border-box;
  transform: translate(0, -50%);
  transition-duration: 0.3s;
}

.unit-switch:checked::before {
  transform: translate(2rem, -50%);
  transition-duration: 0.3s;
}

.unit-container {
  display: inline-flex;
  justify-content: space-evenly;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;

  width: 100%;
  padding: 0 10%;
  user-select: none;
  z-index: -1;
}
